{
  "openapi": "3.1.0",
  "info": {
    "title": "CasaAI API",
    "description": "APIs for properties, tenants, maintenance, workflows, agents, finance, and documents.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.casaai.dev"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/properties": {
      "get": {
        "summary": "List properties",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "description": "Max results to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Property"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create property",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProperty"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tenants": {
      "post": {
        "summary": "Create or update tenant/applicant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTenant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/maintenance": {
      "post": {
        "summary": "Create maintenance ticket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMaintenanceTicket"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceTicket"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workflows/run": {
      "post": {
        "summary": "Run a workflow (screening, maintenance, reminders)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRun"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow run accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents": {
      "get": {
        "summary": "List agents",
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an agent",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent deleted"
          }
        }
      }
    },
    "/api/v1/financial/exports": {
      "post": {
        "summary": "Schedule or trigger KPI export",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KpiExport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export scheduled or started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KpiExportResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/webhooks/workflow": {
      "post": {
        "description": "Workflow run events (e.g., screening decisions, maintenance dispatches)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Property": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "units": {
            "type": "integer"
          }
        }
      },
      "NewProperty": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "units": {
            "type": "integer"
          }
        }
      },
      "Tenant": {
        "type": "object",
        "required": [
          "tenant_id",
          "name"
        ],
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unit_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "conditional",
              "declined"
            ]
          }
        }
      },
      "NewTenant": {
        "type": "object",
        "required": [
          "tenant_id",
          "name"
        ],
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "unit_id": {
            "type": "string"
          },
          "contact": {
            "type": "string"
          },
          "income_docs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id_doc": {
            "type": "string"
          }
        }
      },
      "MaintenanceTicket": {
        "type": "object",
        "required": [
          "ticket_id",
          "unit_id",
          "description"
        ],
        "properties": {
          "ticket_id": {
            "type": "string"
          },
          "unit_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "emergency",
              "urgent",
              "standard"
            ]
          },
          "vendor_assigned": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "NewMaintenanceTicket": {
        "type": "object",
        "required": [
          "ticket_id",
          "unit_id",
          "description"
        ],
        "properties": {
          "ticket_id": {
            "type": "string"
          },
          "unit_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "priority_hint": {
            "type": "string"
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "screening",
              "maintenance",
              "rent_reminder"
            ]
          },
          "payload": {
            "type": "object",
            "additionalProperties": true
          },
          "ruleset": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "WorkflowRunResult": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted",
              "failed"
            ]
          }
        }
      },
      "Agent": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "screening",
              "maintenance",
              "finance",
              "document"
            ]
          }
        }
      },
      "KpiExport": {
        "type": "object",
        "required": [
          "destination",
          "kpis"
        ],
        "properties": {
          "destination": {
            "type": "string",
            "enum": [
              "s3",
              "webhook",
              "drive"
            ]
          },
          "bucket": {
            "type": "string",
            "nullable": true
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "kpis": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "schedule": {
            "type": "string",
            "nullable": true,
            "description": "Cron expression"
          }
        }
      },
      "KpiExportResponse": {
        "type": "object",
        "properties": {
          "export_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "WorkflowEvent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}